<footer class="footer  bg-dark">
  <div class="container text-light ">
    Designed, Developed and Managed by Centre for Digital Innovation and Product Development, Digital University Kerala


    <i  aria-hidden="true" style="color: red;">© 2021 Copyright: DWMS</i>
    <br>
    <br>
    <div style="">
      <a [hidden]="checkHidden(linkedin)" href={{linkedin}} target="_blank"><i class="fab fa-linkedin fa-2x" style="color: rgb(237, 229, 229);"></i></a> &nbsp;
      <a [hidden]="checkHidden(github)" href={{github}} target="_blank"><i class="fab fa-github fa-2x" style="color: rgb(237, 229, 229);"></i></a> &nbsp;
      <a [hidden]="checkHidden(facebook)" href={{facebook}} target="_blank"><i class="fab fa-facebook-square fa-2x" style="color: rgb(237, 229, 229);"></i></a> &nbsp;
      <a [hidden]="checkHidden(twitter)" href={{twitter}} target="_blank"><i class="fab fa-twitter fa-2x" style="color: rgb(237, 229, 229);"></i></a> &nbsp;
      
    </div> 
  </div>
</footer>
